<div class="article" data-id="{{article.id}}">
    <div class="article-text">
        <a class="article__title" data-id="{{article.id}}">{{article.title}}</a>
            <p class="article-description" rel="#/article/{{article.id}}/edit">
                {{article.miniDescription}}
            </p>

    </div>
    <img alt="img" src="{{article.image}}">
</div>