<div class="comment" data-id="{{comment.id}}">
    <div class="comment-text">
        <a class="comment__title" data-id="{{comment.id}}">{{comment.userName}}</a>
            <p class="comment-description" rel="#/article/{{comment.id}}/edit">
                {{comment.value}}
            </p>

    </div>
</div>