<div class="article" data-id="{{article.id}}">
    <a class="article__title" data-id="{{article.id}}">{{article.title}}</a>
    <img alt="img" class="image" data-id="{{article.id}}" src="{{article.image}}">
</div>
